$fondo_creditos:DeepSkyBlue;
$fondo_home:DarkOrange;
$fondo_instrucciones:yellowgreen;
$fondo_juego:violet;
$fondo_splash:lightseaGreen;
$btn-color: Navy;
$txt-color: white;

body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}
#app{
    width: 340px;
    height: 440px;
    margin:0 auto;
    border:1px solid magenta;
    overflow: hidden;
}
section{
    width:340px;
    height:440px;
    text-align:center;
    margin:0 auto;
}
.boton{
    background-color: $btn-color;
    color:$txt-color;
    padding: 10px;
    text-decoration: none;
}
.volver{
    margin-left: -300px;
    line-height: 50px;
}
.ocultar{
    display: none;
}
